!!!5
title Css2Stylus
link(href="css.css", rel="stylesheet")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
script(src="css2stylus.min.js")
script
  $(function () {
    var output = $('#output');
    $('#input').keyup(function () {
      var css = $(this).val(),
        converter = new Css2Stylus.Converter(css);
      converter.processCss();
      output.val(converter.getStylus());
    });
  });

h1 Css2Stylus

#main
  div.col.col-left
    .header
      h2 Paste your CSS
      .controls
        label Indentation
          input(type="radio", name="indentation", value="tab")
    textarea#input

  div.col.col-right
    .header
      h2 Generated Stylus
      .controls
        button Select all
    textarea#output

#footer
  p About the author:
    a(href="http://twitter.com/tdecs") @tdecs


#twitterbtn
  a(href="https://twitter.com/share", class="twitter-share-button", data-text="Convert your CSS into Stylus!", data-url="http://css2stylus.com", data-related="tdecs", data-lang="en", data-hashtags="css,stylus", data-size="large", data-count="true") Tweet
  script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

script
  (function(){var c=document.createElement("div"),d=["webkit","moz","o","ms"];l=d.length;var b=document.createElement("div"),a;(function(a){if(a in c.style)return!0;for(a=a.replace(/^[a-z]/,function(a){return a.toUpperCase()});l--;)if(d[l]+a in c.style)return!0;return!1})("transform")?(a=document.createElement("link"),a.rel="stylesheet",a.href="http://fonts.googleapis.com/css?family=Lato:700&amp;text=ForkmenGithub",document.head.appendChild(a),a='<a href="https://github.com/dciccale/css2stylus.js" class="github-ribbon">Fork me on GitHub</a><a class="github-ribbon-msg" href="https://github.com/dciccale/css3-github-ribbon">CSS3 Github Ribbon</a>'):a='<a href="https://github.com/dciccale/css2stylus.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>';b.innerHTML=a;document.body.appendChild(b.children[0]);b.children[0]&&document.body.appendChild(b.children[0])})();